.Generator > textarea {
    font-weight: 600;
    font-size: 1.2rem;
    width: 50%;
    height: 150px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
    resize: none;
    outline: none;
margin-top: 32px;
}

.Generator > textarea:focus {
    box-shadow: 0 0 8px rgba(255, 251, 0, 0.25);
    background-color: #fff;
}

.Generator > img{
 
    width: 50%;
    height: 60%;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
    resize: none;
    outline: none;
margin-top: 32px;

}

.Generator{
overflow: hidden;}